* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 22px;
	font-family: sans-serif;
}

.input-section {
	width: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

h1.title {
	margin: 1.5rem auto 1rem;
	text-align: center;
	font-size: 1.75rem;
}

#canvas-size-input {
	min-width: 5rem;
	padding: 0.05rem 0.25rem;
}

#submit-canvas-size {
	padding: 0.1rem 1rem;
	margin-left: 0.25rem;
}

#canvas {
	width: 80vh;
	height: 80vh;
	border: 3px solid rgb(107, 107, 107);
	margin: 0.5rem auto;
	display: flex;
	flex-wrap: wrap;
	align-content: start;
}

.canvas-block {
	background-color: rgb(122, 44, 44);
	border: 1px solid black;
	flex: 1 1 0;
	min-width: 50%; /* 1 / blocks per row */
	min-height: 25%; /* 1 / blocks per column */
}
