* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-family: sans-serif;
	overflow-x: hidden;
}

h1.title {
	margin: 3vh auto 3vh;
	text-align: center;
	font-size: 1.75rem;
}

.info {
	text-align: center;
	margin-bottom: 1vh;

	p,
	i {
		font-size: 0.75rem;
	}

	i {
		color: #575757;
	}

	p {
		margin-bottom: 0.1rem;
	}
}

.input-section {
	width: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

#canvas-size-input {
	min-width: 5rem;
	padding: 0.25rem 0.25rem;
	font-size: 0.75rem;
	max-width: 150px;
}

#submit-canvas-size {
	font-size: 0.85rem;
	padding: 0.25rem 1rem;
	margin-left: 0.25rem;
	min-width: 200px;
	background-color: rgb(112, 255, 143);
	border: none;
	border-radius: 5px;

	&:hover,
	&:focus {
		background-color: rgb(48, 173, 75);
		color: white;
	}
}

#canvas {
	width: 70vh;
	min-width: 450px;
	max-width: 99vw;
	height: 70vh;
	border: 2px dashed rgb(107, 107, 107);
	margin: 3vh auto;
	display: flex;
	flex-wrap: wrap;
	align-content: start;
}
