* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-family: sans-serif;
	overflow-x: hidden;
}

p,
i,
input {
	font-size: 0.75rem;
}

button {
	font-size: 0.85rem;
	padding: 0.25rem 1rem;
	border: none;
	border-radius: 5px;
}

/* Individual element selection */
.hidden {
	display: none;
}

h1.title {
	margin: 2vh auto 2vh;
	text-align: center;
	font-size: 1.75rem;
}

.info {
	text-align: center;
	margin: 2vh auto;

	i {
		color: #575757;
	}

	p {
		margin-bottom: 0.1rem;
	}
}

.input-section {
	width: 50%;
	margin: 1vh auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

#canvas-size-input {
	min-width: 5.5rem;
	padding: 0.25rem 0.25rem;
	font-size: 0.75rem;
	max-width: 150px;
}

#submit-dimensions-btn {
	margin-left: 0.25rem;
	min-width: 200px;
	background-color: rgb(24, 102, 41);
	color: white;

	&:hover,
	&:focus {
		background-color: rgb(155, 252, 176);
		color: black;
	}
}

#remove-canvas-btn {
	background-color: maroon;
	color: white;

	&:hover,
	&:focus {
		background-color: rgb(255, 163, 163);
		color: black;
	}
}

#error-tooltip {
	color: red;
	text-align: center;
}

#canvas {
	width: 70vh;
	min-width: 450px;
	max-width: 99vw;
	height: 70vh;
	border: 2px dashed rgb(107, 107, 107);
	background-color: black;
	margin: 3vh auto;
	display: flex;
	flex-wrap: wrap;
	align-content: start;
}
